html {
  background: #FFFFFF;
  color: #222222;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.blue {
  color: #06BCC1;
}

.green {
  color: #2A9134;
}

#logo {
  display: flex;
  flex-flow: row nowrap;
  padding: 1.25rem;
}

#title {
  font-size: 2.5rem;
  line-height: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  padding-left: 1.25rem;
}

.maxview {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  box-sizing: border-box;
}

nav {
  padding: 1.25rem 0;
}

nav a {
  font-size: 20px;
  line-height: 50px;
  margin-left: 1.25rem;
}

nav a:hover, nav a:focus {
  border-bottom: 1px dashed #222222;
}

#nav-btn, #nav-check {
  display: none;
}

@media (max-width: 767px) {
  header {
    padding: 0 0 1.5rem;
  }

  #nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  #nav-btn label {
    display: inline-block;
    width: 50px;
    height: 46px;
    padding: 1.5rem 1.25rem 1rem;
  }

  #nav-btn span {
    display: block;
    width: 50px;
    height: 16px;
    border-top: 2px solid #DE3C4B;
  }

  .nav {
    position: absolute;
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 90px;
    left: 0px;
    padding: 0;
    background: #FBF5F3;
  }

  nav a {
    display: block;
    margin: 0;
    text-align: center;
  }

  #nav-check:not(:checked) ~ .nav {
    height: 0px;
  }

  #nav-check:checked ~ .nav {
    height: auto;
    overflow-y: auto;
  }
}

footer {
  text-align: center;
  padding: 2.5rem 0;
  background: #222222;
  color: #FFFFFF;
}

footer a, #content a {
  font-weight: bold;
}

#content {
  padding: 1.25rem 2.5rem 3rem;
  min-height: 500px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  #content {
    padding: 1.25rem 0.5rem 3rem;
    width: 100% !important;
  }
}

a {
  color: #DE3C4B;
  text-decoration: none;
}

p {
  margin-bottom: 30px;
  color: rgba(34, 34, 34, .75);
  line-height: 30px;
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
  font-weight: 500;
}

#inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#inputs > div {
  padding-top: 1.25em;
}

#inputs label {
  margin-top: -1.55rem;
  color: rgba(34, 34, 34, 0.4);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 0.875em;
  font-size: 0.625em;
  line-height: 1.4em;
  display: block;
}

#inputs > div > div {
  display: block;
  background: none;
  font-size: 1em;
  padding: .3125em 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d7d7dc;
}

#inputs > div > div > select, #inputs > div > div > input {
  background: none;
  padding-right: 1.25em;
  border: 1px solid transparent;
  outline: none;
  color: inherit;
  font: inherit;
  font-size: 1em;
  width: 100%;
}

#search-input {
  width: 100%;
}

@media (min-width: 1024px) {
  #search-input {
    width: calc(100% - 320px);
  }
}

#language-input {
  width: 150px;
}

#release-input {
  width: 150px;
}

@media (max-width: 1023px) {
  #language-input label, #release-input label {
    margin-top: -0.5rem;
  }
}

pre {
  padding: 16px;
  margin: 32px 16px;
  overflow: auto;
  max-width: 100%;
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
}

.anchor {
  font-size: 28px;
  font-weight: 300 !important;
  opacity: 0.75;
}

.toc {
  font-size: 14px;
  margin-bottom: 2rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5rem;
}

.toc ul, #sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toc li {
  display: block;
  margin-bottom: 0.5rem;
}

.toc li a {
  font-weight: 400 !important;
  color: #090910;
}

.toc li a:before {
  content: "# ";
  color: #DE3C4B;
}

.toc li ul {
  margin-top: 0.5rem;
}

.toc li li {
  padding-left: 1.5rem;
}

.toc li li a {
  font-weight: 300 !important;
  color: #090910;
}

#sidebar-with-content {
  display: flex;
  flex-flow: row wrap;
}

#sidebar-with-content #content {
  width: calc(100% - 16rem);
}

#sidebar {
  background: #FBF5F3;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

@media (min-width: 768px) {
  #sidebar {
    width: 16rem;
  }
}

#sidebar > ul {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #090910;
  padding: 0 1.75rem;
}

#sidebar li {
  padding: 0.625rem 0;
}

#sidebar li span {
  font-weight: 600 !important;
  cursor: pointer;
  transition: all .3s ease;
}

#sidebar li span:hover {
  padding-left: 0.25rem;
}

#sidebar li span + ul {
  margin-top: 1rem;
}

#sidebar li li a {
  font-weight: 400 !important;
  color: #090910;
  padding-left: 1.5rem;
  transition: all .3s ease;
}

#sidebar li li a:hover {
  padding-left: 1.75rem;
}
