[package]
name = "reign_view"
version = "0.1.2" # Also change html_root_url in lib.rs
authors = [
	"Pavan Kumar Sunkara <pavan.sss1991@gmail.com>"
]
edition = "2018"
description = "Isomorphic Web Framework in Rust"
repository = "https://github.com/pksunkara/reign"
keywords = ["isomorphic", "web", "framework", "reign"]
categories = []
license = "MIT"
readme = "README.md"
exclude = ["src/views"]

[lib]
name = "reign_view"
path = "src/lib.rs"

[dependencies]
gotham = { git = "git://github.com/gotham-rs/gotham", branch = "master", optional = true }
mime = { version = "0.3.14", optional = true }
syn = { version = "1", features = ["full"] }
quote = "1"
proc-macro2 = "1"
regex = "1.3.1"
Inflector = "0.11.4"
maplit = "1.0.2"
warp = { version = "0.2.0", optional = true }
tide = { version = "0.5.1", optional = true }
actix-web = { version = "2.0.0", optional = true }

[dev-dependencies]
reign = { path = "../" }
pretty_assertions = "0.6.1"
tokio = "0.2.10"
async-std = "1.4.0"
http-service-mock = "0.4.0"
http-service = "0.4.0"

[features]
default = []
views-gotham = ["gotham", "mime"]
views-warp = ["warp", "mime"]
views-tide = ["tide", "mime"]
views-actix = ["actix-web", "mime"]

[package.metadata.docs.rs]
all-features = true
