[package]
name = "{{ name }}"
version = "0.0.0"
edition = "2018"
publish = false

[dependencies]
reign = { version = "{{ reign_version }}", features = ["session"] }
reign_plugin_static = "{{ reign_version }}"
tokio = { version = "1.2.0", features = ["full"] }
serde = { version = "1.0.130", features = ["derive"] }
thiserror = "1.0.29"
anyhow = "1.0.44"
chrono = "0.4.19"

[workspace]
members = [
	".",
	"xtask",
]
