<layouts:application title="Listing Articles">
  <h1>Articles</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr !for="article in &(articles: Vec<crate::models::Article>)">
        <td>{{ article.title }}</td>
        <td>{{ article.content }}</td>
        <td>
          <a href="/articles/{{ article.id }}">Show</a>
        </td>
        <td>
          <a href="/articles/{{ article.id }}/edit">Edit</a>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <br>

  <a href="/articles/new">New Article</a>
</layouts:application>
